.about
  padding: 30px 0 0
  &__container
    padding-bottom: 60px
    border-bottom: 1px solid $add-color
  &__content
    display: flex
    justify-content: space-between
  &__info
    display: flex
    flex-direction: column
    max-width: 428px
    gap: 30px
  &__text
    line-height: 26px
  &__images
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 25px 100px
    max-width: 600px